{% extends "common_code/base.html" %}
{% load static %}
<title>{% block title %}Ogani | add address{% endblock title %} </title>
{% block content %}

<div class="container rounded bg-white mb-2">
    <div class="row">
        <!-- profile main content start-->
        <div class="col-md-3 col-lg-3 border-right">
            <div class="d-flex flex-column align-items-center text-center">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">{{request.user | capfirst}}</span>
                <span class="text-black-50">{{request.user.email}}</span>
            </div>

            <ul class="list-group list-group-flush pt-5">
                <li class="list-group-item">
                    <a class="color_item" href="{% url 'profile' %}"> My profile </a>
                 </li>
                <li class="list-group-item">
                   <a class="color_item" href="{% url 'address_book' %}"> Address book</a>
                </li>
                <li class="list-group-item">
                    <a class="color_item" href="{% url 'add_address' %}">Add Delivery address</a>
                </li>
                <li class="list-group-item">
                    <a class="color_item" href=""> My reviews</a>
                </li>
                <li class="list-group-item">
                    <a class="color_item" href="{% url 'orders' %}">All orders</a>
                </li>
                <li class="list-group-item">
                    <a class="color_item" href="{% url 'change_pass' %}">Change password</a>
                </li>
                <li class="list-group-item">
                    <a class="color_item" href="{% url 'logout' %}">Logout</a>
                </li>
              </ul>

        </div>
        
        <!-- profile main content start end -->


    
        <div class="col-md-5 col-lg-6 m-5">
          <!-- add delivery address start -->
          <form method="POST" novalidate>
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
                {% endfor %}
            {% endif %}

            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Add delivery address </h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Name</label>
                        {{form.name}}
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Effective delivery</label>
                        {{form.effective_delivery}}
                        
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">choose your division</label>
                        {{form.division}}
                        
                    </div>
                    <div class="col-md-6">
                        <label class="labels">choose your district</label>
                        {{form.district}}
                        
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Postcode</label>
                        {{form.zipcode}}
                        
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Area</label>
                        {{form.area}}
                        
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Mobile Number</label>
                        {{form.mobile}}
                        
                    </div>
                </div>
                
                <div class="mt-5 text-center">
                    <button class="btn btn-success profile-button" type="submit">Save Profile</button>
                </div>
            </div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{form.non_field_errors}}</p>
                {% endfor %}
            {% endif %}
        </form>
        <!-- add delivery address end -->
        </div>
       
    </div>
</div>

<script>
    const divisionSelect = document.getElementById("id_division");
    const districtSelect = document.getElementById("id_district");

    const divisionDistricts = {
        'Dhaka': ['Dhaka1', 'Dhaka2', 'Dhaka3', 'Dhaka4', 'Dhaka5', 'Dhaka6', 'Dhaka7', 'Dhaka8'],
        'Rangpur': ['Rangpur1', 'Rangpur2', 'Rangpur3', 'Rangpur4', 'Rangpur5', 'Rangpur6', 'Rangpur7', 'Rangpur8'],
        
    };

    function updateDistrictOptions() {
        const selectedDivision = divisionSelect.value;
        districtSelect.innerHTML = ''; 

        if (selectedDivision in divisionDistricts) {
            divisionDistricts[selectedDivision].forEach(district => {
                const option = document.createElement("option");
                option.text = district;
                option.value = district;
                districtSelect.appendChild(option);
            });
        }
    }

    
    divisionSelect.addEventListener('change', updateDistrictOptions);

    updateDistrictOptions();
</script>
{% endblock content %}