{% extends "common_code/base.html" %}
{% load static %}
<title>{% block title %}Ogani|address book{% endblock title %} </title>

{% block content %}

<div class="container rounded bg-white mb-2">
    <div class="row">
        <!-- profile main content start-->
        <div class="col-md-3 col-lg-3 border-right">
            <div class="d-flex flex-column align-items-center text-center">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">{{request.user | capfirst}}</span>
                <span class="text-black-50">{{request.user.email}}</span>
            </div>

            <ul class="list-group list-group-flush pt-5">
                <li class="list-group-item">
                    <a class="color_item" href="{% url 'profile' %}"> My profile </a>
                 </li>
                <li class="list-group-item">
                   <a class="color_item" href="{% url 'address_book' %}"> Address book</a>
                </li>
                <li class="list-group-item">
                    <a class="color_item" href="{% url 'add_address' %}">Add Delivery address</a>
                </li>
                <li class="list-group-item">
                    <a class="color_item" href=""> My reviews</a>
                </li>
                <li class="list-group-item">
                    <a class="color_item" href="{% url 'orders' %}"> All orders</a>
                </li>
                <li class="list-group-item">
                    <a class="color_item" href="{% url 'change_pass' %}">Change password</a>
                </li>
                <li class="list-group-item">
                    <a class="color_item" href="{% url 'logout' %}">Logout</a>
                </li>
              </ul>

        </div>
        
        <!-- profile main content start end -->

        <!-- orders -->
        <div class="col-md-5 col-lg-8 m-5">
            <div class="container my-5  d-flex  justify-content-center">
                <div class="card card-1">
                    <div class="card-header bg-white">
                        <div class="media flex-sm-row flex-column-reverse justify-content-between  ">
                            <div class="col my-auto"> <h4 class="mb-0">Thanks for your Order, <span class="change-color">{{request.user | capfirst}}</span> !</h4> </div>
                            
                        </div>
                    </div>
                    <div class="card-body">
                        {% for orders in all_orders %}
                        <div class="row mt-4">
                            <div class="col">
                                <div class="card card-2">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="sq align-self-center "> <img class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="{{orders.product.p_image.url}}" width="135" height="135" /> </div>
                                            <div class="media-body my-auto text-right">
                                                <div class="row  my-auto flex-column flex-md-row">
                                                    <div class="col-auto my-auto "> <h6 class="mb-0"> {{orders.product.title}}</h6> </div>
                                                    <div class="col my-auto  "> <small>Weight : {{orders.product.weight}}</small></div>
                                                    <div class="col my-auto  "> <small>Qty : {{orders.quantity}}</small></div>
                                                    <div class="col my-auto ">  <h6 class="mb-0">৳ {{orders.total}}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-3 ">
                                        <div class="row ">
                                            <div class="col-md-3 mb-3">  <small> Track Order <span><i class=" ml-2 fa fa-refresh" aria-hidden="true"></i></span></small> </div>
                                            <div class="col mt-auto">
                                                <div class="progress">
                                                    {% if orders.status == "Accepted" %}
                                                    <div class="progress-bar progress-bar  rounded" style="width: 25%"  role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                        Accepted
                                                    </div> 
                                                    {% endif %}
                                                    {% if orders.status == "Packed" %}
                                                    <div class="progress-bar progress-bar  rounded" style="width: 50%"  role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                        Packed
                                                    </div> 
                                                    {% endif %}
                                                    {% if orders.status == "On the Way" %}
                                                    <div class="progress-bar progress-bar  rounded" style="width: 75%"  role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                        On the Way
                                                    </div> 
                                                    {% endif %} 
                                                    {% if orders.status == "Delivered" %}
                                                    <div class="progress-bar progress-bar  rounded" style="width: 100%"  role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                        Delivered
                                                    </div> 
                                                    {% endif %} 
                                            </div>
                                                <!-- <div class="media row justify-content-between ">
                                                    
                                                    <div class="col-auto text-right"><span> <small  class="text-right mr-sm-2"></small> <i class="fa fa-circle active"></i> </span></div>
                                                    <div class="flex-col"> <span> <small class="text-right mr-sm-2">Out for delivary</small><i class="fa fa-circle"></i></span></div>
                                                    <div class="col-auto flex-col-auto"><small class="text-right mr-sm-2"></small><span> <i class="fa fa-circle"></i></span></div>
                                                   
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
       <!-- orders end -->



    </div>
</div>

        
{% endblock content %}
