{% extends "common_code/base.html" %}
{% load static %}
<title>{% block title %}Ogani | Shop{% endblock title %} </title>
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Organi Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'home' %}">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Department</h4>
                            <ul>
                                <li><a href="{% url 'shop_page' 'meat' %}">Fresh Meat</a></li>
                                <li><a href="{% url 'shop_page' 'vegetables' %}">Vegetables</a></li>
                                <li><a href="{% url 'shop_page' 'fruits_and_nuts' %}">Fruit & Nut Gifts</a></li>
                                <li><a href="{% url 'shop_page' 'berries' %}">Fresh Berries</a></li>
                                <li><a href="{% url 'shop_page' 'ocean_foods' %}">Ocean Foods</a></li>
                                <li><a href="{% url 'shop_page' 'butter_eggs' %}">Butter & Eggs</a></li>
                                <li><a href="{% url 'shop_page' 'fastFood' %}">Fastfood</a></li>
                                <li><a href="{% url 'shop_page' 'fresh_onion' %}">Fresh Onion</a></li>
                                <li><a href="{% url 'shop_page' 'papaya_crisps' %}">Papayaya & Crisps</a></li>
                                <li><a href="{% url 'shop_page' 'oatmeal' %}">Oatmeal</a></li>
                                <li><a href="{% url 'shop_page' 'banana' %}">Fresh Bananas</a></li>
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <h4>Price</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="10" data-max="540">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__item sidebar__item__color--option">
                            <h4>Colors</h4>
                            <div class="sidebar__item__color sidebar__item__color--white">
                                <label for="white">
                                    <a class="color_item" href="{% url 'shop_page' 'white' %}">White</a>
                                    <!-- <input type="radio" id="white"> -->
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--gray">
                                <label for="gray">
                                    <a class="color_item" href="{% url 'shop_page' 'gray' %}">Gray</a>
                                    <!-- <input type="radio" id="gray"> -->
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--red">
                                <label for="red">
                                    <a class="color_item" href="{% url 'shop_page' 'red' %}">Red</a>
                                    <!-- <input type="radio" id="red"> -->
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--black">
                                <label for="black">
                                    <a class="color_item" href="{% url 'shop_page' 'black' %}">Black</a>
                                    <!-- <input type="radio" id="black"> -->
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--blue">
                                <label for="blue">
                                    <a class="color_item" href="{% url 'shop_page' 'blue' %}">Blue</a>
                                    <!-- <input type="radio" id="blue"> -->
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--green">
                                <label for="green">
                                    <a class="color_item" href="{% url 'shop_page' 'green' %}">Green</a>
                                    <!-- <input type="radio" id="green"> -->
                                </label>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <h4>Popular Size</h4>
                            <div class="sidebar__item__size">
                                <label for="large">
                                    <button style="border:none; overflow:hidden; background-color: transparent;"><a class="color_item" href="{% url 'shop_page' 'large' %}"> Large</a></button>
                                    <!-- <input type="radio" id="large"> -->
                                </label>
                            </div>
                            <div class="sidebar__item__size">
                                <label for="medium">
                                    <button style="border:none; overflow:hidden; background-color: transparent;"><a class="color_item" href="{% url 'shop_page' 'medium' %}"> Medium</a></button>
                                    <!-- <input type="radio" id="medium"> -->
                                </label>
                            </div>
                            <div class="sidebar__item__size">
                                <label for="small">
                                    <button style="border:none; overflow:hidden; background-color: transparent;"><a class="color_item" href="{% url 'shop_page' 'small' %}"> Small</a></button>
                                    <!-- <input type="radio" id="small"> -->
                                </label>
                            </div>
                            <div class="sidebar__item__size">
                                <label for="tiny">
                                    <a class="color_item" href="{% url 'shop_page' 'tiny' %}"><button style="border:none; overflow:hidden; background-color: transparent;">Tiny</button></a>
                                    <!-- <input type="radio" id="tiny"> -->
                                </label>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Latest Products</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                    {% for latest in latest_products %}
                                        <a href="{% url 'product_details' latest.id %}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{latest.p_image.url}}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{latest.title}}</h6>
                                                <span>৳{{latest.discount_price}}</span>
                                            </div>
                                        </a>
                                    {% endfor %}
                                    </div>
                                    <div class="latest-prdouct__slider__item">
                                        {% for latest in latest_products %}
                                        <a href="{% url 'product_details' latest.id %}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{latest.p_image.url}}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{latest.title}}</h6>
                                                <span>৳{{latest.discount_price}}</span>
                                            </div>
                                        </a>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Sale Off</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                
                                {% for sale_off in sale_off %}
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="{{sale_off.p_image.url}}">
                                            <div class="product__discount__percent">-{{sale_off.sale_off_discount_parcent}}%</div>
                                            <ul class="product__item__pic__hover">
                                                <li>
                                                    <form action="/addTowishlist" class="d-inline">
                                                        <input type="hidden" name="product_ID" value={{sale_off.id}} id="product_ID">
                                                        <li><button type="submit" style="border:none; overflow:hidden; background-color: transparent;"><a ><i class="fa fa-heart"></i></a></button></li>
                                                    </form>
                                                </li>
                                                <li><a ><i class="fa fa-retweet"></i></a></li>
                                                <li>
                                                    <form action="/addTocart" class="d-inline">
                                                        <input type="hidden" name="product_ID" value={{sale_off.id}} id="product_ID">
                                                        <li><button type="submit" style="border:none; overflow:hidden; background-color: transparent;"><a type="submit"><i class="fa fa-shopping-cart"></i></a></button></li>
                                                    </form>
                                                </li> 
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>{{sale_off.category}}</span>
                                            <h5><a href="{% url 'product_details' sale_off.id %}">{{sale_off.title}}</a></h5>
                                            <div class="product__item__price">৳ {{sale_off.discount_price}} <span>৳ {{sale_off.selling_price}}</span></div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>{{total_product}}</span> Products found</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- product sort item start -->
                    <div class="row">
                        {% for item in item %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{item.p_image.url}}">
                                    <ul class="product__item__pic__hover">
                                        <li>
                                            <form action="/addTowishlist" class="d-inline">
                                                <input type="hidden" name="product_ID" value={{item.id}} id="product_ID">
                                                <li><button type="submit" style="border:none; overflow:hidden; background-color: transparent;"><a ><i class="fa fa-heart"></i></a></button></li>
                                            </form>
                                        </li>
                                        <li><a ><i class="fa fa-retweet"></i></a></li>
                                        <li>
                                            <form action="/addTocart" class="d-inline">
                                                <input type="hidden" name="product_ID" value={{item.id}} id="product_ID">
                                                <li><button type="submit" style="border:none; overflow:hidden; background-color: transparent;"><a type="submit"><i class="fa fa-shopping-cart"></i></a></button></li>
                                            </form>
                                        </li> 
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{% url 'product_details' item.id %}">{{item.title}}</a></h6>
                                    <h5>৳ {{item.discount_price}}</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                       
                    </div>
                <!-- product sort item end -->

                <!-- pagination start -->
                    <div class="product__pagination">
                        {% if item.has_previous %}
                        <a href="/shop/?page=1">1st</a>
                        <a href="/shop/?page={{item.previous_page_number}}" tabindex="-1"><i class="fa fa-long-arrow-left"></i></a>
                        {% endif %}
                        {% for page in page_list %}
                        <a href="/shop/?page={{page}}">{{page}}</a>
                        {% endfor %}
                        {% if item.has_next %}
                        <a href="/shop/?page={{item.next_page_number}}"><i class="fa fa-long-arrow-right"></i></a>
                        <a href="/shop/?page={{last_page}}">last</a>
                        {% endif %}
                    </div>
                <!-- pagination end -->
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
{% endblock content %}